server {
    listen 80;
    server_name {{cgit_domain}};

    keepalive_timeout 70;
    access_log /var/log/nginx/{{cgit_domain}}/access.log;
    error_log /var/log/nginx/{{cgit_domain}}/error.log;
    include snippets/letsencrypt.conf;

    location / {
        return 301 https://$server_name$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name {{cgit_domain}};

    keepalive_timeout 70;
    access_log /var/log/nginx/{{cgit_domain}}/access.log;
    error_log /var/log/nginx/{{cgit_domain}}/error.log;
    ssl_certificate      /etc/letsencrypt/live/{{cgit_domain}}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{cgit_domain}}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{cgit_domain}}/chain.pem;

    include snippets/sslsettings.conf;

    root                  {{cgit_path}};
    try_files             $uri @cgit;

    location ~ /git(/.*) {
        include             fastcgi_params;

        fastcgi_param SCRIPT_FILENAME     {{git_http_backend_path}};
        fastcgi_param GIT_HTTP_EXPORT_ALL "";
        fastcgi_param GIT_PROJECT_ROOT    {{git_path}};

        fastcgi_param       PATH_INFO       $uri;
        fastcgi_param       QUERY_STRING    $args;
        fastcgi_param       HTTP_HOST       $server_name;
        fastcgi_pass        unix:/run/fcgiwrap.socket;
    }

    location @cgit {
        fastcgi_param       SCRIPT_FILENAME {{cgit_cgi_bin}}/cgit.cgi;
        fastcgi_param       PATH_INFO       $uri;
        fastcgi_param       QUERY_STRING    $args;
        fastcgi_param       HTTP_HOST       $server_name;
        fastcgi_pass        unix:/run/fcgiwrap.socket;
    }
}
